aiodataloader==0.2.0
aiofiles==0.4.0
aniso8601==7.0.0
cffi==1.13.2
Click==7.0
cryptography==2.8
graphene==2.1.8
graphql-core==2.2.1
graphql-relay==2.0.1
gunicorn==20.0.4
h11==0.8.1
Jinja2==2.10.3
lxml==4.4.2
MarkupSafe==1.1.1
opcua==0.98.8
promise==2.2.1
pycparser==2.19
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
Rx==1.6.1
six==1.13.0
starlette==0.13.0
uvicorn==0.11.7
websockets==8.1
