<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>

    <title>GraphQL API for OPC UA servers</title>

    <!-- CSS -->
    <link rel = "stylesheet" href = "{% static 'css/browser.css' %}">
    <!-- Favicon -->
    <link rel = "icon" type = "image/png" href = "{% static 'favicon/favicon.png' %}" sizes = "96x96">
    <!-- jQuery -->
    <script src = "{% static 'jquery3/jquery.min.js' %}"></script>
    <!-- JS -->
    <script src = "{% static 'js/browser.js' %}"></script>
    <script src = "{% static 'js/doc.js' %}"></script>

  </head>
  <header>

  </header>
  <body>

    <div id = "Header">
      <span id = "PathHeader">Node URL, http(s)://Domain/Server/NodeId</span><br>
      <span id = "Path"></span>
    </div>

    <table id = "BrowserTable">
      <tbody>
        <tr id = "NodeRow">
          <td id = 'Column_1' class = 'column'>
            <table>
              {% for server in data %}
                <tr><a class = 'object' href = "{{ url }}{{ server.name }}">{{ server.name }}</a></tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <div id = "Docs">
      <h4>All data is and should be passed in JSON format.</h4>
      <div id = "REST">
        <div>
          <h3 class = "method">GET</h3>
          <p>Returns either value and data type, or subnodes of the target node.</p>
          <p>
            GET request to a node with a value attribute returns the value and data type of the node.
          </p>
          <div class = "example">
            <a id = "GetValueLink" class = "exampleUrl" href = "{{ url }}status/hoist/position/position_mm">GET -> {{ url }}status/hoist/position/position_mm</a><br>
            <span>Returns:</span>
            <pre>
              <code id = "GetValueCode"></code>
            </pre>
          </div>
          <p>
            GET request to a node with no value attribute attempts to return names of the node's subnodes in a list.
          </p>
          <div class = "example">
            <a id = "GetObjectsLink" class = "exampleUrl" href = "{{ url }}status/hoist">GET -> {{ url }}status/hoist</a><br>
            <span>Returns:</span>
            <pre>
              <code id = "GetObjectsCode"></code>
            </pre>
          </div>
        </div>
        <div>
          <h3 class = "method">PUT</h3>
          <p>Changes the value of the target node with given value in request.</p>
          <p>
            PUT request to a node with a value attribute attempts to
            set the value of the node to the value in request body.
          </p>
          <div class = "example">
            <a id = "PutValueLink" class = "exampleUrl" href = "{{ url }}controls/hoist/down">PUT -> {{ url }}controls/hoist/down</a><br>
            <span>Should have a JSON object in request body such as:</span>
            <pre>
              <code id = "PutValueCode"></code>
            </pre>
          </div>
          <p>
            Data type of node is checked from target node on OPC UA server and an error is
            returned if given value is not correct type.
          </p>
        </div>
        <div>
          <h3 class = "method">Errors</h3>
          <p>
            In case of errors, the response will have an "error" key in body (instead of "data")
            with code and message.
          </p>
          <div class = "example">
            <pre>
              <code id = "GetErrorCode">
  {
    "error": {
      "code": 400,                // Any error code
      "message": "Error message"  // Any error message
    }
  }
              </code>
            </pre>
          </div>
        </div>
      </div>


      <div id = "GraphQL">
        <h4>All GraphQL queries are done with POST requests.</h4>
        <p>Queries are sent to url:</p>
        <a class = "exampleUrl" href = "{{ url }}graphql">{{ url }}graphql</a>
        <p>
          The documentation can also be found at the same url (top right corner)<br>
          Queries can also be constructed and tested with actual response objects.<br>
        </p>
        <div>
          <h3 class = "method">Node example queries</h3>
          <p>
            GetNode query returns specified fields with corresponding attributes from an OPC UA Node.<br>
            Field returns as None/null and an error if node does not have value for the field.<br>
            Example includes some possible fields to be queried. Only desired fields should be included in the query.
          </p>
          <p>Example queries:</p>
          <div class = "example">
          <span><b>A simple value query:</b></span>
          <pre>
              <code id = "NodeQuery">
  query {
    node(server: "TestServer", nodeId: "ns=2;i=2") {
      name
      variable {
        value
        dataType
      }
    }
  }
              </code>
            </pre>
            <span><b>Example result to above query:</b></span>
            <pre>
              <code id = "NodeQuery">
  {
    "data": {
      "node": {
        "name": "Position_mm",
        "variable": {
          "value": 3072,
          "dataType": "Int32"
        }
      }
    }
  }
              </code>
            </pre>
            <span><b>You can chain multiple queries in single requests by naming each query uniquely:</b></span>
            <pre>
              <code id = "NodeQuery">
  query {
    hoistPositionVariables: node(server: "TestServer", nodeId: "ns=2;i=2") {
      subNodes {
        name
        variable {
          value
          dataType
        }
      }
    }
    trolleyPositionMm: node(server: "TestServer", nodeId: "ns=2;i=2") {
      variable {
        value
      }
    }
  }
              </code>
            </pre>
            <span><b>Example result:</b></span>
            <pre>
              <code id = "NodeQuery">
  {
    "data": {
      "hoistPositionVariables": {
        "subNodes": [
          {
            "name": "Calibrated",
            "variable": {
              "dataType": "Boolean",
              "value": true
            }
          },
          {
            "name": "Position_m",
            "variable": {
              "dataType": "Float",
              "value": 3.072000026702881
            }
          },
          {
            "name": "Position_mm",
            "variable": {
              "dataType": "Int32",
              "value": 3072
            }
          }
        ]
      },
      "trolleyPositionMm": {
        "variable": {
          "value": 5088
        }
      }
    }
  }
              </code>
            </pre>
            <span><b>Example query with more field options:</b></span>
            <pre>
              <code id = "NodeQuery">
  query {
      node(server: "TestServer", nodeId: "ns=2;i=2") {
          name
          description
          nodeClass
          path
          nodeId
          server
          subNodes {
              name
              variable {
                  value
                  dataType
                  sourceTimestamp
                  statusCode
              }
          }
      }
  }
              </code>
            </pre>
            <span><b>Example query with Python:</b></span>
            <pre>
              <code id = "NodeQuery">
  import requests
  from string import Template
  
  client = requests.session()
  
  server = "TestServer"
  nodeId = "ns=2;i=2"
  
  query = Template("""
      query {
          node(server: "$server", nodeId: "$nodeId") {
              name
              variable {
                  value
                  dataType
              }
          }
      }
  """).substitute(server=server, nodeId=nodeId)
  
  response = client.post("{{url}}graphql", json={"query": query})
  value = response.json()["data"]["node"]["variable"]["value"]
              </code>
            </pre>
          </div>
        </div>
        <div>
          <h3 class = "method">Variable Nodes</h3>
          <p>Recursively finds all nodes with a variable below given nodeId's node.</p>
          <p>
            
          </p>
          <div class = "example">
            <span>Example query with python:</span>
            <pre>
              <code id = "NodeQuery">
                  {
                    "data": {
                      "hoistPositionVariables": {
                        "subNodes": [
                          {
                            "name": "Calibrated",
                            "variable": {
                              "dataType": "Boolean",
                              "value": true
                            }
                          },
                          {
                            "name": "Position_m",
                            "variable": {
                              "dataType": "Float",
                              "value": 3.072000026702881
                            }
                          },
                          {
                            "name": "Position_mm",
                            "variable": {
                              "dataType": "Int32",
                              "value": 3072
                            }
                          }
                        ]
                      },
                      "trolleyPositionM": {
                        "variable": {
                          "value": 5.0879998207092285
                        }
                      }
                    }
                  }
              </code>
            </pre>
            <span>To:</span>
            <a class = "exampleUrl" href = "{{ url }}graphql">POST -> {{ url }}graphql</a><br>
            <span>Returns:</span>
            <pre>
              <code id = "GetValueCode">
  {
    "data": {
      "getValue": {
        "name": "Position_mm"
        "value": 1234,
        "dataType": "Int32",
        "sourceTimestamp": plapla,
        "statusCode": "Good",
        "nodePath": "status/hoist/position/position_mm",
        "nodeId": "ididi"
      }
    }
  }
              </code>
            </pre>
          </div>
        </div>
        <div>
          <h3 class = "method">getVariableNodes</h3>
          <p>Returns either value and data type, or subnodes of the target node.</p>
          <p>
            GET request to a node with a value attribute returns the value and data type of the node.
            Recursively finds all variable nodes under the node with given path.
          </p>
          <div class = "example">
            <span>Example of returning all variable nodes below queried node:</span>
            <pre>
              <code id = "NodeQuery">
  query {
    getVariableNodes(server: "TestServer", nodeId: "ns=2;i=2") {
      name
      nodeId
    }
  }
              </code>
            </pre>
            <span>To:</span>
            <a class = "exampleUrl" href = "{{ url }}graphql">POST -> {{ url }}graphql</a><br>
            <span>Returns:</span>
            <pre>
              <code id = "GetValueCode">
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>