<!DOCTYPE html>

<div>
    <h3 class = "method">GET</h3>
    <p>Returns either value and data type, or subnodes of the target node.</p>
    <p>
        GET request to a node with a value attribute returns the value and data type of the node.
    </p>
    <div class = "example">
        <a id = "GetValueLink" class = "exampleUrl" href = "{{ url }}status/hoist/position/position_mm">GET -> {{ url }}status/hoist/position/position_mm</a><br>
        <span>Returns:</span>
        <pre>
            <code id = "GetValueCode"></code>
        </pre>
    </div>
    <p>
        GET request to a node with no value attribute attempts to return names of the node's subnodes in a list.
    </p>
    <div class = "example">
        <a id = "GetObjectsLink" class = "exampleUrl" href = "{{ url }}status/hoist">GET -> {{ url }}status/hoist</a><br>
        <span>Returns:</span>
        <pre>
            <code id = "GetObjectsCode"></code>
        </pre>
    </div>
</div>
<div>
    <h3 class = "method">PUT</h3>
    <p>Changes the value of the target node with given value in request.</p>
    <p>
        PUT request to a node with a value attribute attempts to
        set the value of the node to the value in request body.
    </p>
    <div class = "example">
        <a id = "PutValueLink" class = "exampleUrl" href = "{{ url }}controls/hoist/down">PUT -> {{ url }}controls/hoist/down</a><br>
        <span>Should have a JSON object in request body such as:</span>
        <pre>
            <code id = "PutValueCode"></code>
        </pre>
    </div>
    <p>
        Data type of node is checked from target node on OPC UA server and an error is
        returned if given value is not correct type.
    </p>
</div>
<div>
    <h3 class = "method">Errors</h3>
    <p>
        In case of errors, the response will have an "error" key in body (instead of "data")
        with code and message.
    </p>
    <div class = "example">
        <pre>
            <code id = "GetErrorCode">
{
    "error": {
        "code": 400,                // Any error code
        "message": "Error message"  // Any error message
    }
}
            </code>
        </pre>
    </div>
</div>